@charset "utf-8";

/* Transition Styles */

nav#mainLinks a {
   color: rgb(255,220,0);
   font-size: 25px;
   letter-spacing: 0em;
   text-shadow: 3px 3px rgb(180,50,0);
   transition: font-size 2s ease,
               text-shadow 2s cubic-bezier(0.6, 0, 0.8, 0.5);
}

nav#mainLinks a:hover {
   color: rgb(255,220,0);
   font-size: 32px;
   text-shadow: 3px 3px rgb(180,50,0);
}


/* Key Frames Styles */

 @keyframes spin3D {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
  }
  .Glyphs:hover {
    animation-name: spin3D;
    animation-duration: 1s;
    animation-iteration-count: 1;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: ease-in-out;
  }




